//COLORS
$white: #fff;
$black: #000;


//BASE FONT
$base-font-size-mobile: 13px;
$base-font-size-tablet: 14px;
$base-font-size-desktop: 16px;


//WIDTH VARIABLES
$desktop-width: 1024px;
$tablet-width: 767px;
$mobile-width: 360px;

